body {
    overflow: hidden; /* Hide scrollbars */
    background-color: lightgray;
  }
.card-slot-numbered , .card-slot-royal, .deck-slot{
    padding-top: 100%;
	width: 100%;
    background-color: white;
    border-radius: 5px;
    border: solid 2px black;
    touch-action: none;
    user-select: none;
}

/* .card-slot-royal{
    background-color: red;
} */

.card-royal, .card{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 95%;
    width: 100%;
    border-radius: 10px;
    /* transform: translate(-50%, -50%); */
}

.card-and-slot-highlight hide-element{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 2px rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.card.red, .card-royal.red{
    background-color: red;
    border: solid 5px black;
}

.card.black, .card-royal.black{
    background-color: black;
    border: solid 5px red;
}

.deck-slot{
    position: relative;
    background-color: white;
    text-align: center;
}

.blank-tile{
    padding-top: 100%;
	width: 100%;
    background-color: transparent;
}

.slot-label, .armor-label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 1000;
}

.armor-label{
    font-size: .75rem;

}

.slot-label.red text{
    fill: red;
}
.slot-label.black text{
    fill: black;
}

.suit-icon{
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}

.suit-icon.club path{
    d: path("M12-.001l11 6v12l-11 6-11-6v-12l11-6z");
    fill: black;
}

.suit-icon.spade path{
    d: path("M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z");
    fill:black;
}

.suit-icon.heart path{
    d: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    fill: red;
}

.suit-icon.diamond path{
    d: path("M12 .001l12 12-12 12-12-12 12-12z");
    fill: red;
}

.armor-label{
    top: 1rem;
}




.hide-element{
    opacity: 0;
}

.deactivate{
    opacity: 0.2;
}

.drop-active {
    border-color: #aaa;
  }

.clone{
    opacity: 0.5;
}