
.card-slot , .card-slot-royal, .deck-slot{
    padding-top: 100%;
	width: 100%;
    background-color: blue;
    border-radius: 5px;
    border: solid 2px black;
}

.card-slot-royal{
    background-color: red;
}

.deck-slot{
    position: relative;
    background-color: green;
    text-align: center;
}

.blank-tile{
    padding-top: 100%;
	width: 100%;
    background-color: transparent;
}

.slot-label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.grid{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.deck-area{
}